body {
  padding: 55;
  margin: 55;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(body {
	  padding: 10;
	  margin: 10;
	  background: #555182;
	  /* Old browsers */
	  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
	  /* FF3.6-15 */
	  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
	  /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
	}
	
	/** Header styles **/
	.header {
	  background-image: url(https://lh3.googleusercontent.com/WOAKrIWZD9CWM6ALjmHvNkwzeNwjyHCjIJONxYM9nf1mCxxARjFeIEFZWHhRv-F56VfOQfasZpCt4hXBqvJ5uJ5cGIw7q_gffOg3PJIUROWPKN9pxdmz8pihCVXe20T3e3qzfDuVwm9rnjBFgSpU8gAo3lQ63APiVydYhlQGJSts35SJuYziBzaL8N_08bRuIfN86ZyPgL-JTzhUks4d34_pGIjrHvGVQiPeOqvkxrha8NqeOlNrvXZLW-cP9HZymX5NoUHfFxGBzO2yfwQ4AA2dfaFtu5BjNh3p8rI7U6g63SXP-aVK-zXfvV0ZFDNF8N28PZRlW9oi-hiHi3E8gp_2qs8BAWGeUlyG6clBVzK4CBHh1ou3U3nTnVAwUrG4QBcdHCkwQOXvcAeXBeyvGX9KkbhoMGJB495djq4WnX-aKuuTE0qKchzRjUPL9aVk7x5li6rC5Av8A5oXmVzNR2MFV4C3yVZQ3BsN5Irx7R5M4pLNkQ8LX46uuK8H8OqAQ8Wn40I3IbWY5g6ycjvDYdjTn5g7dCuI-FWglGGGCA2KxabtHeFL4Ye-Qor_SBRAGt1Pz6OIPzLUelQ3tfx7gduhKvENgfo1tbMhUKE=w855-h641-no);
	  height: 400px;
	  background-position: center center;
	}
	

	.roasting {
	  margin: 40px auto;
	  padding: 20px 30px 40px 30px;
	  background-color: #FFFFFFFFF;
	  overflow: auto;
	  width: 75%;
	  border-radius: 4px;
	  align-self: center;
	}
	

	.roasting p {
	  color: #938E89;
	  text-align: center;
	  line-height: 24px;
	  font-family: 'IBM Plex Sans', sans-serif;
	  font-size: 16px;
	  font-weight: 400;
	}
	

	.spectrum div {
	  font: inherit;
	  padding: 0 20px;
	  color: #FFFFFF;
	  overflow: auto;
	  opacity: 0.9;
	}
	

	.spectrum p {
	  color: #FFFFFF;
	  text-align: left;
	}
	

	/* Personal Information */
	.green {
	  background-color: rgb(145, 133, 161);
	}
	

	.light {
	  background-color: rgb(115, 100, 135);
	}
	

	.city {
	  background-color: rgb(91, 73, 115);
	}
	

	.italian {
	  background-color: rgb(69, 52, 85);
	}
	

	/* Typography */
	h1 {
	  color: #696482;
	font-family: 'Julius Sans One', sans-serif;
	  font-size: 100px;
	  line-height: 76px;
	  margin: 0;5A1
	  position: relative;
	  text-align: right;
	  top: 80%;
	}
	

	h2 {
	  color: #FFC6B8;
	font-family: 'Julius Sans One', sans-serif;
	  font-size: 28px;
	  font-weight: 500;
	  text-align: left;
	  text-transform: uppercase;
	}
	

	h3 {
	  color: #857C81;
	font-family: 'Alegreya Sans SC', serif;
	  font-size: 22px;
	  font-weight: 500;
	  text-align: center;
	}
	

	h4 {
	  color: #B7D7D9;
	font-family: 'Alegreya Sans SC', serif;
	  font-size: 28px;
	  font-weight: 700;
	  line-height: .2em;
	}
	

	h5 {
	font-family: 'Julius Sans One', sans-serif;
	  font-size: 20px;
	  line-height: .2em;
	  font-weight: 300;
	}
	

	/* Page elements */
	ul {
	  margin: 0 auto;
	  padding: 0;
	  width: 75%;
	}
	

	li {
	  border-bottom: 1px solid #E4BB97;
	  list-style: none;
	  margin: 100px 0px;
	  padding-bottom: 60px;
	}
	

	p {
	  color: #B09994;
	  line-height: 32px;
	font-family: 'Abel', sans-serif;
	  font-size: 20px;
	  font-weight: 100;
	}
	

	a {
	  color: #E5EBE9;
	  font-family: 'IBM Plex Sans', sans-serif;
	  font-size: 13px;
	  font-weight: 900;
	  text-align: left;
	  text-transform: uppercase;
	  text-decoration: none;
	  letter-spacing: 2px;
	}
	

	footer p {
	  text-align: center;
	  font-size: small;
	}
);
  height: 400px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #938E89;
  text-align: center;
  line-height: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Personal Information */
.green {
	background-color: rgb(145, 133, 161);
	}
	

.light {
  background-color: rgb(115, 100, 135);
	}
	
.city {
  background-color: rgb(91, 73, 115);
	}
	

.italian {
	background-color: rgb(69, 52, 85);
	}
	

/* Typography */
h1 {
  color: #FFE9CD;
font-family: 'Julius Sans One', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;5A1
  position: relative;
  text-align: right;
  top: 80%;
}

h2 {
  color: #FFC6B8;
font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #857C81;
font-family: 'Alegreya Sans SC', serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  color: #B7D7D9;
font-family: 'Alegreya Sans SC', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #B09994;
  line-height: 32px;
font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #E5EBE9;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

footer p {
  text-align: center;
  font-size: small;
}
